<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
  img {
    width: 200px;
  }

  nav {
    top: 0%;
    display: flex;
    height: 7vh;
    position: fixed;
    z-index: 100000000;
    width: 100vw;
    background-color: rgb(54, 53, 53);
    border-bottom: 1px solid white;
  }

  #navleft {
    display: flex;
    height: 100%;
    width: 33.3%;
  }

  #navleft input {
    height: 30px;
    width: 200px;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 18px;
    padding-left: 15px;
    background-color: rgb(0, 2, 3);
    border: 1px solid lightblue;
    text-decoration: none;
  }

  #logo {
    margin-top: 1%;
    margin-left: 2%;
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
    overflow: hidden;
  }

  #logo img {
    height: 100%;
    width: 100%;
  }

  #navcen {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 33.3%;
    /* background-color: rebeccapurple; */
  }

  #navcen a {
    margin-top: 2%;
  }

  #navright {
    height: 100%;
    width: 33.3%;
  }

  #svgs {
    margin-left: 81%;
    margin-top: 2.2%;
  }

  #svgs svg {
    margin-left: 5%;
  }

  #profiledp {
    height: 140px;
    width: 140px;
    background-color: rgb(190, 185, 185);
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 22%;
  }

  #bio {
    height: 35vh;
    width: 30vw;
    background-color: rgb(255, 253, 250);
    margin-left: 35%;
    margin-top: -9%;
  }

  #bio h1 {
    font-size: 2vw;
    font-family: gilroy;
    margin-left: 5%;
  }

  #biod {
    height: 10%;
    width: 75%;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;

  }

  #biod h2 {
    font-size: 1vw;
  }

  #bio textarea {
    margin-left: 5%;
    margin-top: 5%;
    text-decoration: none;
    border: 1px solid white;
  }

  #post {
    height: 50vh;
    width: 54vw;
    display: flex;
    margin-left: 21%;
  }

  #cards {
    position: relative;
    height: 70%;
    width: 35%;
    border-radius: 12px;
    margin-left: 2%;
    margin-top: 1%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }

  #postsimg {
    height: 50%;
    width: 100%;
    border-radius: 12px;
    background-color: grey;
  }

  #postsimg img {
    height: 100%;
    width: 100%;
  }

  #cards h1 {
    font-size: 1vw;
    font-family: gilroy;
    color: white;
    padding: 5px 10px;
  }

  #cards h5 {
    color: rgb(235, 245, 97);
    font-size: 0.8vw;
    margin-top: -7%;
    padding: 10px;
    font-family: monospace;
    font-weight: 100;
  }

  #logoo a {
    text-decoration: none;
    color: whitesmoke;
    border-radius: 105px;
    margin-bottom: 10%;
    font-size: 1vw;
  }

  #logoo {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 80%;
    bottom: 7%;
    left: 10%;
    
  }

  #bio button {
    text-decoration: none;
    margin-left: 62%;
    margin-top: -15%;
    border: 1px solid pink;
  }
  #profiledp img{
    margin-top: -4%;
    height: 100%;
    width: 100%;
  }
  
</style>

<body>

  <nav>
    <div id="navleft">
      <div id="logo">
        <img
          src="https://static.vecteezy.com/system/resources/previews/000/606/820/original/c-circle-logo-template-design-vector.jpg"
          alt="">
      </div>
      <input type="text" placeholder="search <%= val.username %> ">
    </div>
    <div id="navcen">
      <a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path d="M20 20a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9zm-9-7v6h2v-6h-2z"
            fill="rgba(255,255,255,1)" />
        </svg></a>
      <a href="https://www.youtube.com/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
          height="24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M19.606 6.995c-.076-.298-.292-.523-.539-.592C18.63 6.28 16.5 6 12 6s-6.628.28-7.069.403c-.244.068-.46.293-.537.592C4.285 7.419 4 9.196 4 12s.285 4.58.394 5.006c.076.297.292.522.538.59C5.372 17.72 7.5 18 12 18s6.629-.28 7.069-.403c.244-.068.46-.293.537-.592C19.715 16.581 20 14.8 20 12s-.285-4.58-.394-5.005zm1.937-.497C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5v-7l6 3.5-6 3.5z"
            fill="rgba(255,255,255,1)" />
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M21 11.646V21a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-9.354A3.985 3.985 0 0 1 2 9V3a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v6c0 1.014-.378 1.94-1 2.646zM14 9a1 1 0 0 1 2 0 2 2 0 1 0 4 0V4H4v5a2 2 0 1 0 4 0 1 1 0 1 1 2 0 2 2 0 1 0 4 0z"
                fill="rgba(255,255,255,1)" />
            </svg></a>
        </svg></a>
      <a href="/qoutes"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M10 19.748V16.4c0-1.283.995-2.292 2.467-2.868A8.482 8.482 0 0 0 9.5 13c-1.89 0-3.636.617-5.047 1.66A8.017 8.017 0 0 0 10 19.748zm8.88-3.662C18.485 15.553 17.17 15 15.5 15c-2.006 0-3.5.797-3.5 1.4V20a7.996 7.996 0 0 0 6.88-3.914zM9.55 11.5a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5zm5.95 1a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z"
            fill="rgba(255,255,255,1)" />
        </svg></a>
      <a href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M17 4a6 6 0 0 1 6 6v4a6 6 0 0 1-6 6H7a6 6 0 0 1-6-6v-4a6 6 0 0 1 6-6h10zm-7 5H8v2H6v2h1.999L8 15h2l-.001-2H12v-2h-2V9zm8 4h-2v2h2v-2zm-2-4h-2v2h2V9z"
            fill="rgba(255,255,255,1)" />
        </svg></a>
    </div>
    <div id="navright">
      <div id="svgs">

        <a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M18 8h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2V7a6 6 0 1 1 12 0v1zm-7 7.732V18h2v-2.268a2 2 0 1 0-2 0zM16 8V7a4 4 0 1 0-8 0v1h8z"
              fill="rgba(255,255,255,1)" />
          </svg></a>
      </div>
    </div>
  </nav>

  <div id="profiledp">
    <img src="https://cdn3.iconfinder.com/data/icons/blog-and-social-media-icons/512/Add_Friend-512.png" alt="">
  </div>
  <div id="bio">
    <h1>ig_<%= val.username %>
    </h1>
    <div id="biod">
      <h2>
        <%= val.post.length %> posts
      </h2>
      <h2>1002 followers</h2>
      <h2>11 following</h2>
    </div>
    <form action="/savechanges" method="post">
      <textarea name="bio" placeholder="Write your bio" cols="48" rows="3"><%= val.bio %></textarea>
      <button type="submit">Save Changes</button>
    </form>
  </div>

  <div id="post">
    <% val.post.forEach(function(dets){ %>
      <div id="cards">
        <div id="postsimg"><img src="../images/<%= dets.postImage %>" alt=""></div>
        <h1>
          <%= dets.title %>
        </h1>
        <h5>
          <%= dets.para %>
        </h5>
        <div id="logoo">
          <a href="/delete/<%= dets._id %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
              height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M20 7v14a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7H2V5h20v2h-2zM6 7v13h12V7H6zm1-5h10v2H7V2zm4 8h2v7h-2v-7z"
                fill="rgba(255,255,255,1)" />
            </svg></a>
          <a href="/update/<%= dets._id %>"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
              height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M5 19h1.414l9.314-9.314-1.414-1.414L5 17.586V19zm16 2H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L9.243 19H21v2zM15.728 6.858l1.414 1.414 1.414-1.414-1.414-1.414-1.414 1.414z"
                fill="rgba(255,255,255,1)" />
            </svg></a>
        </div>

      </div>
    <%})%>
    




  </div>
  
  

</body>

</html>